# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
/sdk/flutter/pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Flutter app build artifacts
app/android/.gradle/
app/android/app/build/
app/ios/Pods/
app/ios/.symlinks/
app/build/

# Native SDK build artifacts
sdk/android/.gradle/
sdk/android/local.properties
sdk/android/**/build/
sdk/ios/.build/
sdk/ios/.swiftpm/
sdk/ios/**/xcuserdata/

# OS
.DS_Store
