<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721415563732-74os5ug6p9ine9pkr32a9bvgl61tocsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721415563732-74os5ug6p9ine9pkr32a9bvgl61tocsr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>721415563732-26oie3565ficf12vihkhr71i80l67str.apps.googleusercontent.com</string>
	<key>BUNDLE_ID</key>
	<string>cc.seeed.voice</string>
</dict>
</plist>
